.slide-6 {
    background-image: url('../images/background.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    .grass {
        background-image: url('../images/grass.gif');
        background-repeat:no-repeat;
        background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0%;
        margin-top: 20%;
    }
    .logo {
        width: 15%;
        height: 15%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 10%;
        margin: auto;
        background-image: url('../images/logo.png');
    }
    .titleWrapper {
        width: 55.5%;
        height: 10%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        top: 18%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        .title1 {
            display: grid;
            grid-template-columns: 11.71% 11.71% 11.5% 11.71% 11.4% 11.71% 11.3% 11.71%;
            grid-template-rows: 100%;
            .title1_1 {
                margin-top: 10%;
                background-image: url('../images/slide_6_title1_1.png');
            }
            .title1_2 {
                margin-top: 2%;
                background-image: url('../images/slide_6_title1_2.png');
            }
            .title1_3 {
                margin-left: 3%;
                background-image: url('../images/slide_6_title1_3.png');
            }
            .title1_4 {
                background-image: url('../images/slide_6_title1_4.png');
            }
            .title1_5 {
                margin-left: 5%;
                margin-top: 8%;
                background-image: url('../images/slide_6_title1_5.png');
            }
            .title1_6 {
                margin-left: 5%;
                margin-top: 5%;
                background-image: url('../images/slide_6_title1_6.png');
            }
            .title1_7 {
                margin-left: 5%;
                margin-top: 2%;
                background-image: url('../images/slide_6_title1_7.png');
            }
            .title1_8 {
                margin-left: 5%;
                margin-top: 3%;
                background-image: url('../images/slide_6_title1_8.png');
            }
            div {
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .title2 {
            display: grid;
            grid-template-columns: 13% 11% 11% 11% 10.8% 9.6% 10% 6%;
            grid-template-rows: 100%;
            .title2_1 {
                background-image: url('../images/slide_6_title2_1.png');
            }
            .title2_2 {
                background-image: url('../images/slide_6_title2_2.png');
            }
            .title2_3 {
                background-image: url('../images/slide_6_title2_3.png');
            }
            .title2_4 {
                background-image: url('../images/slide_6_title2_4.png');
            }
            .title2_5 {
                margin-top: 7%;
                margin-left: 4%;
                background-image: url('../images/slide_6_title2_5.png');
            }
            .title2_6 {
                margin-top: 5%;
                background-image: url('../images/slide_6_title2_6.png');
            }
            .title2_7 {
                margin-left: 8%;
                margin-top: 10%;
                background-image: url('../images/slide_6_title2_7.png');
            }
            div {
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    // calendar
    .calendar_1 {
        width: 100%;
        min-width: 100%;
        height: 51%;
        position: absolute;
        top: 30%;
        background-size: contain;
        background-image: url('../images/slide_6_calendar1.png');
        background-repeat: no-repeat;
    }
    // progress
    .calendar_2_wrapper {
        width: 100%;
        min-width: 100%;
        height: 51%;
        position: absolute;
        top: 30%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 2;
        overflow: none;
        .calendar_2 {
            width: 0%;
            height: 100%;
            position: relative;
            background-size: cover;
            background-image: url('../images/slide_6_calendar2.png');
            background-repeat: no-repeat;
        }
    }
    .calendar_3_wrapper {
        width: 100%;
        min-width: 100%;
        height: 51%;
        position: absolute;
        top: 30%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 2;
        .calendar_3 {
            width: 0%;
            height: 100%;
            position: relative;
            background-size: cover;
            background-image: url('../images/slide_6_calendar3.png');
            background-repeat: no-repeat;
        }
    }
    .calendar_4_wrapper {
        width: 100%;
        min-width: 100%;
        height: 51%;
        position: absolute;
        top: 30%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 2;
        .calendar_4 {
            width: 0%;
            height: 100%;
            position: relative;
            background-size: cover;
            background-image: url('../images/slide_6_calendar4.png');
            background-repeat: no-repeat;
        }
    }
    .calendar_5_wrapper {
        width: 100%;
        min-width: 100%;
        height: 51%;
        position: absolute;
        top: 30%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 2;
        .calendar_5 {
            width: 0%;
            height: 100%;
            position: relative;
            background-size: cover;
            background-image: url('../images/slide_6_calendar5.png');
            background-repeat: no-repeat;
        }
    }
    .calendar_6_wrapper {
        width: 100%;
        min-width: 100%;
        height: 51%;
        position: absolute;
        top: 30%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 2;
        .calendar_6 {
            width: 0%;
            height: 100%;
            position: relative;
            background-size: cover;
            background-image: url('../images/slide_6_calendar6.png');
            background-repeat: no-repeat;
        }
    }
    .calendar_7_wrapper {
        width: 100%;
        min-width: 100%;
        height: 51%;
        position: absolute;
        top: 30%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 2;
        .calendar_7 {
            width: 0%;
            height: 100%;
            position: relative;
            background-size: cover;
            background-image: url('../images/slide_6_calendar7.png');
            background-repeat: no-repeat;
        }
    }
    .stamp1 {
        width: 10%;
        height: 5%;
        top: 40%;
        left: 31%;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        background-image: url('../images/slide_6_stamp1.png');
        z-index: 3;
    }
    .stamp2 {
        width: 12%;
        height: 6%;
        top: 62%;
        left: 30%;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        background-image: url('../images/slide_6_stamp2.png');
        z-index: 3;
    }
    .continue {
        width: 23%;
        height: 7%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 92%;
        right: 10%;
        margin: auto;
        background-image: url('../images/slide_3_continue.png');
    }
    // iPhone X & more
    @media screen and (min-device-width:375px) and (min-device-height:812px){
        .calendar_2_wrapper {
            height: 40%;
            left: 2%;
        }
        .calendar_3_wrapper {
            left: 2%;
            top: 30.5%;
            height: 40%;
        }
        .calendar_4_wrapper {
            top: 31%;
            left: 2%;
            height: 40%;
        }
        .calendar_5_wrapper {
            top: 31%;
            left: 2%;
            height: 40%;
        }
        .calendar_6_wrapper {
            top: 31.5%;
            left: 2%;
            height: 40%;
        }
        .calendar_7_wrapper {
            top: 31.5%;
            left: 2%;
            height: 40%;
        }
        .stamp1 {
            top: 38%!important;
        }
        .stamp2 {
            top: 56%!important;
        }
    }
    // Pixel 2 XL
    @media screen and (device-width:411px) and (device-height:823px){
        .calendar_2_wrapper {
            height: 45%;
            left: 0%;
        }
        .calendar_3_wrapper {
            left: 0%;
            top: 30%;
            height: 45%;
        }
        .calendar_4_wrapper {
            top: 30%;
            left: 0%;
            height: 45%;
        }
        .calendar_5_wrapper {
            left: 0%;
            top: 30%;
            height: 45%;
        }
        .calendar_6_wrapper {
            height: 45%;
            top: 30%;
            left: 0;
        }
        .calendar_7_wrapper {
            left: 0;
            top: 30%;
            height: 45%;
        }
        .stamp2 {
            top: 58%!important;
        }
    }
}