.slide-7 {
    background-image: url('../images/background.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    .grass {
        background-image: url('../images/grass.gif');
        background-repeat:no-repeat;
        background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0%;
        margin-top: 5%;
    }
    .logo {
        width: 15%;
        height: 15%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 10%;
        margin: auto;
        background-image: url('../images/logo.png');
    }
    .title {
        width: 70%;
        height: 35%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/slide_7_title.png');
    }
    .info1 {
        top: 20%;
        background-image: url('../images/slide_7_info1.png');

    }
    .info2 {
        top: 40%;
        background-image: url('../images/slide_7_info2.png');

    }
    .info1, .info2 {
        width: 80%;
        height: 40%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    .continue {
        width: 23%;
        height: 7%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 92%;
        right: 10%;
        margin: auto;
        background-image: url('../images/slide_3_continue.png');
    }
}