.slide-4 {
    background-image: url('../images/background.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    .grass {
        background-image: url('../images/grass.gif');
        background-repeat:no-repeat;
        background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0%;
        margin-top: 15%;
    }
    .logo {
        width: 15%;
        height: 15%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 10%;
        margin: auto;
        background-image: url('../images/logo.png');
    }
    .title {
        width: 40%;
        height: 30%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/slide_4_title.png');
    }
    .title2 {
        width: 60%;
        height: 33%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/slide_4_title2.png');
    }
    .option_wrapper {
        width: 80%;
        height: 40%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        top: 35%;
        display: grid;
        grid-template-columns: 45% 10% 45%;
        grid-template-rows: 45% 10% 45%;
        z-index: 2;
        .option1 {
            background-image: url('../images/slide_4_option1.png');
        }
        .option2 {
            background-image: url('../images/slide_4_option2.png');
        }
        .option3 {
            background-image: url('../images/slide_4_option3.png');
        }
        .option4 {
            background-image: url('../images/slide_4_option4.png');
        }
        .option1, .option2, .option3, .option4 {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .iconWrapper {
        width: 80%;
        height: 40%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        top: 35%;
        display: grid;
        grid-template-columns: 45% 10% 45%;
        grid-template-rows: 45% 10% 45%;
        .icon1 {
            background-image: url('../images/slide_4_icon1.png');
        }
        .icon2 {
            background-image: url('../images/slide_4_icon2.png');
        }
        .icon3 {
            background-image: url('../images/slide_4_icon3.png');
        }
        .icon4 {
            background-image: url('../images/slide_4_icon4.png');
        }
        div {
            width: 20%;
            height: 30%;;
            margin: 20% auto;
            background-color: transparent;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 3;
        }
    }
    .search {
        width: 10%;
        height: 5%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 52%;
        left: 40%;
        margin: auto;
        background-image: url('../images/slide_1_search.png');
    }
    .popup_wrapper {
        .popup1 {
            background-image: url('../images/slide_4_popup1.png');
        }
        .popup2 {
            background-image: url('../images/slide_4_popup2.png');
        }
        .popup3 {
            background-image: url('../images/slide_4_popup3.png');
        }
        .popup4 {
            background-image: url('../images/slide_4_popup4.png');
        }
        .popup1, .popup2, .popup3, .popup4 {
            width: 80%;
            height: 80%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0;
            z-index: 20;
        }
    }
    .continue {
        width: 23%;
        height: 7%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 92%;
        right: 10%;
        margin: auto;
        background-image: url('../images/slide_3_continue.png');
    }
}