.slide-6 {
    background-image: url('../images/background.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    .grass {
        background-image: url('../images/grass.gif');
        background-repeat:no-repeat;
        background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0%;
        margin-top: 10%;
    }
    .logo {
        width: 15%;
        height: 15%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 10%;
        margin: auto;
        background-image: url('../images/logo.png');
    }
    .titleWrapper {
        width: 55.5%;
        height: 10%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        top: 18%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        .title1 {
            display: grid;
            grid-template-columns: 12% 12% 11% 11.71% 11% 11.71% 11% 11.71%;
            grid-template-rows: 100%;
            .title1_1 {
                margin-top: 5%;
                background-image: url('../images/slide_6_title1_1.png');
            }
            .title1_2 {
                background-image: url('../images/slide_6_title1_2.png');
            }
            .title1_3 {
                background-image: url('../images/slide_6_title1_3.png');
            }
            .title1_4 {
                background-image: url('../images/slide_6_title1_4.png');
            }
            .title1_5 {
                margin-top: 5%;
                background-image: url('../images/slide_6_title1_5.png');
            }
            .title1_6 {
                background-image: url('../images/slide_6_title1_6.png');
            }
            .title1_7 {
                background-image: url('../images/slide_6_title1_7.png');
            }
            .title1_8 {
                background-image: url('../images/slide_6_title1_8.png');
            }
            div {
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .title2 {
            display: grid;
            grid-template-columns: 8% 11.71% 11.71% 11.71% 11.71% 10.2% 11% 6%;
            grid-template-rows: 100%;
            .title2_1 {
                background-image: url('../images/slide_6_title2_1.png');
            }
            .title2_2 {
                background-image: url('../images/slide_6_title2_2.png');
            }
            .title2_3 {
                background-image: url('../images/slide_6_title2_3.png');
            }
            .title2_4 {
                background-image: url('../images/slide_6_title2_4.png');
            }
            .title2_5 {
                margin-top: 5%;
                background-image: url('../images/slide_6_title2_5.png');
            }
            .title2_6 {
                background-image: url('../images/slide_6_title2_6.png');
            }
            .title2_7 {
                background-image: url('../images/slide_6_title2_7.png');
            }
            div {
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    .calendar {
        width: 80%;
        height: 40%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/slide_6_calendar.png');
    }
    .continue {
        width: 23%;
        height: 7%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 92%;
        right: 10%;
        margin: auto;
        background-image: url('../images/slide_3_continue.png');
    }
}