.slide-4 {
    background: url('../images/slide_4_background.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    .logo {
        width: 15%;
        height: 15%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 10%;
        margin: auto;
        background-image: url('../images/logo.png');
    }
    .title {
        width: 70%;
        height: 35%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/slide_4_title.png');
    }
    .option_wrapper {
        .option1 {
            top: 35%;
            left: 12%;
            background-image: url('../images/slide_4_option1.png');
        }
        .option2 {
            top: 35%;
            right: 12%;
            background-image: url('../images/slide_4_option2.png');
        }
        .option3 {
            top: 58%;
            left: 12%;
            background-image: url('../images/slide_4_option3.png');
        }
        .option4 {
            top: 58%;
            right: 12%;
            background-image: url('../images/slide_4_option4.png');
        }
        .option1, .option2, .option3, .option4 {
            width: 35%;
            height: 20%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            margin: auto;
        }
    }
    .search {
        width: 5%;
        height: 5%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 48%;
        left: 43%;
        margin: auto;
        background-image: url('../images/slide_1_search.png');
    }
    .popup_wrapper {
        .popup1 {
            background-image: url('../images/slide_4_popup1.png');
        }
        .popup2 {
            background-image: url('../images/slide_4_popup2.png');
        }
        .popup3 {
            background-image: url('../images/slide_4_popup3.png');
        }
        .popup4 {
            background-image: url('../images/slide_4_popup4.png');
        }
        .popup1, .popup2, .popup3, .popup4 {
            width: 80%;
            height: 80%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0;
        }
    }
}