.slide-3 {
    background: url('../images/slide_3_background.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    .logo {
        width: 15%;
        height: 15%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 10%;
        margin: auto;
        background-image: url('../images/logo.png');
    }
    .title {
        width: 70%;
        height: 35%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/slide_3_title.png');
    }
    .option_wrapper {
        .option1 {
            top: 35%;
            background-image: url('../images/slide_3_option1.png');    
        }
        .option2 {
            top: 45%;
            background-image: url('../images/slide_3_option2.png');    
        }
        .option3 {
            top: 55%;
            background-image: url('../images/slide_3_option3.png');    
        }
        .option4 {
            top: 65%;
            background-image: url('../images/slide_3_option4.png');    
        }
        .option5 {
            top: 75%;
            background-image: url('../images/slide_3_option5.png');    
        }
        .option1, .option2, .option3, .option4, .option5 {
            width: 50%;
            height: 10%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .popup_wrapper {
        .popup1 {
            background-image: url('../images/slide_3_popup1.png');    
        }
        .popup2 {
            background-image: url('../images/slide_3_popup2.png');    
        }
        .popup3 {
            background-image: url('../images/slide_3_popup3.png');    
        }
        .popup4 {
            background-image: url('../images/slide_3_popup4.png');    
        }
        .popup5 {
            background-image: url('../images/slide_3_popup5.png');    
        }
        .popup1, .popup2, .popup3, .popup4, .popup5 {
            width: 80%;
            height: 80%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0;
        }
    }
}